.container {
    width: 100%;
    border: 2px solid rgb(0, 0, 0);
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
    align-items: center;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    font-size: 19px;
}
 
.imageDiv{
    display: flex;
    justify-content:center;
}
.imgArtist {
    justify-content: space-evenly;
    width: 40vh;
    height: 50vh;
    margin: 5px;
    align-items:center;
}