.container {
    width: 100%;
    border: 2px solid rgb(0, 0, 0);
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    font-size: 19px;
}

.imgArtist {
    justify-content: space-evenly;
    width: 40vh;
    height: 50vh;
    margin: 5px;
    align-items:center;
}